# dependencies
node_modules/

# next.js
.next/
out/
next-env.d.ts

# misc
.DS_Store
*.pem
*.tsbuildinfo

# logs
npm-debug.log*

# env
.env*.local
.env

# vercel
.vercel

# prisma client
lib/generated/
